<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="jsonplaceholder-typicode-post-tests" verbose="1">
    <listeners>
        <listener class-name="common.MyTestListener"/>
    </listeners>
    <test name="post-tests">
        <parameter name="userName" value="Samantha"/>
        <classes>
            <class name="tests.PostTests"/>
        </classes>
    </test>
</suite>
